---
const itemId = ""
---

<div id={itemId}>
    <h1>New Item</h1>
</div>

<script is:inline>
    const scene = new THREE.Scene();
	const camera = new THREE.PerspectiveCamera(
		75,
		window.innerWidth / window.innerHeight,
		0.1,
		1000,
	);

	const renderer = new THREE.WebGLRenderer({ antialias: true });
	renderer.setSize(window.innerWidth, window.innerHeight);
	// document.body.appendChild(renderer.domElement);
    const orbitalControls = new OrbitControls(camera, renderer.domElement);
    orbitalControls.keys = {
	LEFT: 'ArrowLeft', //left arrow
	UP: 'ArrowUp', // up arrow
	RIGHT: 'ArrowRight', // right arrow
	BOTTOM: 'ArrowDown' // down arrow
}
    const directionalLight = new THREE.DirectionalLight( 0xffffff, 1.0 );
    scene.add(directionalLight);

    const light = new THREE.AmbientLight( 0x404040 ); // soft white light
    scene.add( light );

	// const cube = new THREE.Mesh(geometry, materials);
	// scene.add(cube);
    camera.position.x = -1;
    camera.position.y = 0;
	camera.position.z = -1;

	function animate() {
		requestAnimationFrame(animate);
        orbitalControls.update();
		renderer.render(scene, camera);
	}

	// animate();
</script>