---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-100 p-10 flex flex-col align-center justify-center text-center h-screen">
		
		<section class="bg-gray-200 p-10 max-w-7xl m-auto align-center justify-center">
			<h1 class="font-bold text-2xl mb-5">Navigate to:</h1>
			<div class="flex-col lg:flex-row w-full max-w-5xl m-auto flex rounded-md justify-evenly items-center">
				<a href="/refactored" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/refactored.webp" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>Floorplan CSV Editor</p>
				</a>
				<a href="/roomscale-4" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/roomscale-4.webp" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>3D Collision Mesh Viewer</p>
				</a>
				<a href="/new-project" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<div class="max-h-80 w-full rounded-sm mb-3 bg-blue-100 flex items-center justify-center" style="height: 200px;">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
						</svg>
					</div>
					<p>JSON Generator</p>
				</a>
				<a href="/inpainting-king" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/inpainting-king.jpg" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>Inpainting-king</p>
				</a>
				<a href="/equirectangular-editor" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/equirectangular-editor.webp" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>Equirectangular-editor</p>
				</a>
			</div>

		</section>

	</body>
</html>

