---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-100 p-10 flex flex-col align-center justify-center text-center h-screen">
		
		<section class="bg-gray-200 p-10 max-w-7xl m-auto align-center justify-center">
			<h1 class="font-bold text-2xl mb-5">Navigate to:</h1>
			<div class="flex-col lg:flex-row w-full max-w-5xl m-auto flex rounded-md justify-evenly items-center">
				<a href="/refactored" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/refactored.webp" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>Floorplan CSV Editor</p>
				</a>
				<a href="/roomscale-4" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/roomscale-4.webp" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>3D Collision Mesh Viewer</p>
				</a>
				<a href="/inpainting-king" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/inpainting-king.jpg" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>Inpainting-king</p>
				</a>
				<a href="/equirectangular-editor" class="bg-zinc-300 p-3 rounded-sm h-fit m-5 transition-colors hover:bg-slate-300">
					<image src="/images/equirectangular-editor.webp" class="max-h-80 w-full rounded-sm mb-3"/>
					<p>Equirectangular-editor</p>
				</a>
			</div>

		</section>

	</body>
</html>

