---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="/x-frame-bypass.js" type="module"></script>
		<title>Astro</title>
	</head>
	<body style="margin: 0px;">
        <iframe id="theIframe" style="width: 100%; height: 100vh; margin: 0px;" is="x-frame-bypass-2" src="https://saleskiosk.aldar.com/?state=abu_dhabi&lang=en&vr=VR01&theme=dark">
		</iframe>
    </body>
</html>

<script>
	const iframe = document.getElementById('theIframe');
		iframe.contentWindow.addEventListener('message', (event) => {
				event.origin = "https://saleskiosk.aldar.com"
				console.log(event)
			// if (event.origin === 'http://localhost:4321') {
			// 	console.log('Message received:', event.data);
			// }
			});
	
	iframe.contentWindow.postMessage('Your message', 'https://saleskiosk.aldar.com');

	console.log("Posted")
</script>