
@font-face {
    font-family: "gabarito";
    src: url("/Gabarito-VariableFont_wght.ttf");
}
* {
    font-family: gabarito, sans-serif;
}

/* button{
all: unset;

width: 100%;
display: flex;
margin: 0px;
font-size: 12px;
padding: 0.3em;
cursor: pointer;
border-radius: 4px;
background-color: #FFF;
}

button:hover{
background-color: #ccc;
} */

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    grid-template-rows: repeat(6, 1fr);
    gap: 10px;

    min-height: 100vh;
    margin: 0%;
    padding: 10px;
}

.boxed {
    font-size: 12px;
    padding: 0.2em;
    color: #333;
    background-color: #ccc;
    border-radius: 3px;
}

.button-style {
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.7em;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: #eee;
    transition: 0.2s;
    background-color: #333333;
    border-radius: 4px;
}
.button-style:hover {
    display: flex;
    cursor: pointer;
    padding: 0.7em;
    align-items: center;
    justify-content: center;
    font-size: large;
    color: #eee;

    background-color: #555555;
}
.button-style svg {
    padding-left: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.row :first-child {
    width: 210px;
    align-items: flex-end;
}

.row p {
    margin: 0%;
}

.hollow {
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.7em;
    width: 100%;
    color: #333333;
    background-color: #33333300;
    border: solid 1px #333333;
}

.button-gap :first-child {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-gap :last-child {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-gap button {
    border: 1px solid #00000022;
    background-color: #333333;
    color: #eee;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-gap button:hover {
    background-color: #888888;
}

.drag-drop-prompt {
    position: fixed;
    display: none;
    opacity: 0;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #00000055;
    z-index: 10000000;
    color: #eee;
    transition: opacity 0.2;
}

.drag-drop-prompt.appear {
    display: flex;
    opacity: 1;
}

.animated-border {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
            0deg,
            #333333,
            #333333 10px,
            transparent 10px,
            transparent 20px,
            #333333 20px
        ),
        repeating-linear-gradient(
            90deg,
            #333333,
            #333333 10px,
            transparent 10px,
            transparent 20px,
            #333333 20px
        ),
        repeating-linear-gradient(
            180deg,
            #333333,
            #333333 10px,
            transparent 10px,
            transparent 20px,
            #333333 20px
        ),
        repeating-linear-gradient(
            270deg,
            #333333,
            #333333 10px,
            transparent 10px,
            transparent 20px,
            #333333 20px
        );
    background-size:
        3px calc(100% + 20px),
        calc(100% + 20px) 3px,
        3px calc(100% + 20px),
        calc(100% + 20px) 3px;
    background-position:
        0 0,
        0 0,
        100% 0,
        0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 1s infinite linear;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@keyframes borderAnimation {
    from {
        background-position:
            0 0,
            -20px 0,
            100% -20px,
            0 100%;
    }
    to {
        background-position:
            0 -20px,
            0 0,
            100% 0,
            -20px 100%;
    }
}

.dropdown ~ .toggle {
    display: none;
}

.dropdown:checked ~ .toggle {
    display: flex;
    flex-direction: column;
}

.dropdown:checked ~ .toggle {
    display: flex;
    flex-direction: column;
}

.dropdown ~ label {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.dropdown ~ label .arrow {
    display: flex;
    cursor: pointer;
    font-size: 2em;
    text-align: center;

    justify-content: center;
}

.dropdown:checked ~ label .arrow {
    transform: rotate(180deg);
}

h3 {
    margin-top: 0.2em;
}

.toolsets {
    width: 100%;
    grid-column: 1 / 1;
    grid-row: 1/7;
}

.editor {
    grid-column: 2/7;
    grid-row: 1/7;
    height: 100vh;
    position: sticky;
}

.container {
    box-sizing: border-box;
    /* background-color: #0000000c; */
    border: 0.3px solid #00000022;
    padding: 0.5em;
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.input-style {
    all: unset;
    border: 0px solid;
    border-radius: 3px;
    /* background-color: #00000011; */
    transition: box-shadow 0.2s;
    border: solid 0.5px #ddd;
    padding: 0.3em;
}

.input-style:focus {
    box-shadow: inset 0px 0px 100px #fff;
    border: solid 1px;
}

.toolset-section {
    width: 100%;

    /* padding: 0.5em; */
}

.toolset-section .container {
    margin-top: 10px;
}

.toolset-section .container:first-child {
    margin-top: 0px;
}

.hidden {
    display: none !important;
}

#tag,
#tag * {
    display: flex;
    position: fixed;
    background-color: #cccccccc;
    padding: 0em 1em;
    text-align: left;
    line-height: 0.5em;
    font-family: monospace;
    font-weight: 100;
    justify-content: center;
    min-width: max-content;
    pointer-events: none;
    /* transform: translate(-50%); */
    /* min-height: 50px; */
    height: fit-content;
    border-radius: 6px;
    /* font-family: sans-serif; */
}
#label {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0%;
    height: 100%;
    font-family: sans-serif;
}

.output {
    pointer-events: fill;
}

#id-container {
    /* margin-top: 0.5em; */
    background-color: #eee;
    max-height: 390px;
    border-radius: 5px;
    /* position: fixed; */
    right: 0%;
    top: 0%;
    display: flex;
    overflow-y: none;
    list-style: none;
    flex-direction: column;
    /* margin-left: 0.5em; */
}

#svg-container {
    border: solid 1px #00000055;
    border-radius: 3px;
    position: relative;
    max-height: 91vh;
    max-width: 91vh;
}

.hide {
    display: none;
}

.svg-tool-selected {
    fill: #87CEEB;
}

.hovered {
    fill: #87CEEB66;
}

.sub-item {
    padding: 0.5em;
    margin-bottom: 0.1em;
    /* background-color: #00000011; */
    border: 1px solid #00000022;
    border-radius: 3px;
    display: flex;
    /* flex-direction: column; */
}

.sub-item [type="radio"] {
    margin-left: 0%;
}

.toggle {
    display: flex;
    flex-direction: column;
}

.expand {
    transform: rotate(180deg);
}

.hide-toggle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.id-list {
    margin: 0%;
    overflow-y: scroll;
    min-height: 50px;
}

.id-list-title-container {
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    background-color: #00000011;
}

.id-list-title span:hover {
    cursor: pointer;
    text-decoration: underline;
}